/* GENERAL */

button:focus, input:focus {
    outline:none !important;
}

/***********/

/* PANELS */

.panel-1 {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

.panel-2 {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

.panel-header {
	border-bottom: 1px solid rgb(0, 0, 0);
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
}

.panel-header-center {
	padding: 15px 0;
	text-align: center;

}

.panel-header-left {
	padding: 15px 0 15px 10px;
}

/**********/


/* BUTTONS */

.btn-1, .btn-2 {
  position: relative;
  height: 50px;
  width: 200px;
  padding: 5px 5px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  text-transform: uppercase;
  background: none;
  z-index: 1;
  cursor: pointer;
}

.btn-1:hover {
	color: rgb(255, 255, 255);
}

.btn-1:before {
	content: "";
	position: absolute;
	background: rgb(0, 0, 0);
	z-index: -1;
	transition:         all 0.4s;
	-o-transition:      all 0.4s;
	-ms-transition:     all 0.4s;
	-moz-transition:    all 0.4s;
	-webkit-transition: all 0.4s;
}

/* Starting from top going bottom */
.btn-1a:before {
	left: 0;
	right: 0;
	bottom: 100%;
	top: 0;
}

.btn-1a:hover:before {
	bottom: 0;
}

/* Starting from bottom going up */
.btn-1b:before {
	left: 0;
	right: 0;
	bottom: 0;
	top: 100%;
}

.btn-1b:hover:before {
  top: 0;
}

/* Starting from left going right */
.btn-1c:before {
	left: 0;
	right: 100%;
	bottom: 0;
	top: 0;
}

.btn-1c:hover:before {
	right: 0;
}

/* Starting from right going left */
.btn-1d:before {
	left: 100%;
	right: 0;
	bottom: 0;
	top: 0;
}

.btn-1d:hover:before {
	left: 0;
}

/* Starting from middle, going up and down */
.btn-1e:before {
	left: 0;
	right: 0;
	top: 50%;
	bottom: 50%;
}

.btn-1e:hover:before {
	top: 0;
	bottom: 0;
}

/* Starting from middle, going left and right */
.btn-1f:before {
	left: 50%;
	right: 50%;
	top: 0;
	bottom: 0;
}

.btn-1f:hover:before {
	left: 0;
	right: 0;
}

.btn-2 {
	border-radius: 40px;
}

.btn-2:hover {
	background: rgb(0, 0, 0);
}

.btn-2a:hover, .btn-2b:hover, .btn-2c:hover {
	color: rgb(255, 255, 255);
}

.btn-2b:hover {
	transition: color 1s linear;
}

.btn-2c:hover {
	background: none;
	border: 2px solid rgb(255, 255, 255);
	transition: all 0.4s;
}

/***********/