@keyframes test {
    from {
        transform: rotate(60deg);
    }
    to {
        transform: scale(0deg):
    }
}

@media only screen and (max-width: 1140px) {
    #container {
        
        width: 100%;
        
    }
}
@media only screen and (max-width: 1024px) {
    /*#portrait-container {
        width: 40%;
    }
    #main-content-wrapper {
        width: 59%;
    }*/

}
/* TABLET -----------------*/

@media only screen and (max-width: 768px) {
    #menu-wrapper {
        /*-ms-transform: scale(1, 0); 
        -webkit-transform: scale(1, 0); 
        transform: scale(1, 0);*/
        display: none;
    }
    #content{
        width: 100%;
    }
    #main-content-wrapper {
        width: 49%;
    }  
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}
