

@media only screen and (max-width: 1140px) {
    #container {
        
        width: 100%;
        
    }
}
@media only screen and (max-width: 1024px) {
    /*#portrait-container {
        width: 40%;
    }
    #main-content-wrapper {
        width: 59%;
    }*/

}
/* TABLET -----------------*/

@media only screen and (max-width: 768px) {
    #menu-wrapper {
    }
    #mobile-menu-wrapper .btn-1 {
        display: inline-block;
    }
    #portrait-container {
        display: none;
    }
    #content{
        width: 100%;
    }
    #main-content-wrapper {
        width: 100%;
    }  
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}
