@keyframes test {
    from {
        left: 10%;
    }
    to {
        left: 0%; 
    }
}

@media only screen and (max-width: 1140px) {
    #container {
        
        width: 100%;
        
    }
}
@media only screen and (max-width: 1024px) {
    /*#portrait-container {
        width: 40%;
    }
    #main-content-wrapper {
        width: 59%;
    }*/

}
/* TABLET -----------------*/

@media only screen and (max-width: 768px) {
    #menu-wrapper{
        position:absolute; 
        display: none;
    }
    #content{

    }
    #main-content-wrapper {
        width: 49%;
    }  
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
    #main-background-container{
        width: 100%;
    }
    #container {
        width: 100%;
    }
    .icon-wrapper .label {
        display: none;
    } 
    #portrait-container{
        display: none;
    }
    #main-content-wrapper {
        width: 100%;
    }  
}
