html {
	background: #ffffff;
	background-color: rgba(0, 0, 0, 0);
	height: 100%;
}
body {
	overflow: hidden;
	height: 100%;
}
a {
	color: black;
}
p {
	font-family: 'Pangolin', cursive;
}
div{
	/*border: 1px solid black;*/
}
h1 {
	/*font-family: 'Pangolin', cursive;*/
	font-family: 'Francois One', sans-serif;
	font-size: 30px;
	font-weight: bold;
}
h2 {
	padding-left: 0px;
	font-size: 20px;
	font-weight: bold;
}

.btn-1{
	display: none;
}
#main-background-container {

	width: 95%;
	height: 100%;
	margin: 0 auto;
	/*margin-top: 1.5%;
	margin-bottom:1.5%;*/

	background-image: url('../background/shutter.png');
	box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	background-size: cover;

}
#container {

	width: 90%;
	height: 100%;
	position: relative;

	display:flex;
    align-items: center;

	margin: 0 auto;
	/*padding: 1.5%;*/
	
}

/***** NAVIGATION *****/

#menu-wrapper {

	align-items: center;
	width: 300px;
	height: 360px;
	min-width: 300px;
	min-height: 360px;
	float: left;
	/*border: 1px solid green;*/
	/*
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);*/

}
#left-ctx {

	width: 90px;
	height: 360px;
	
	/*border: 1px solid green;*/
	float: left;
}
#button-container {
	float: left;
	margin-left: 10px;
	width: 100px;
	height: 360px;
	display: inline-block;
}
#right-ctx {

	width: 90px;
	height: 360px;
	
	/*border: 1px solid red;*/
	float: right;

}
.line {
	opacity: 0;
}
.circle {
	opacity: 0;
	/*display: none;*/
}
.menu-link {
	/*position: relative;*/
}
.menu-element {

	width: 100px !important;
	height: 35px !important;

}
.selected {

	background: rgb(0, 0, 0) !important;
	color: #ffffff !important;
	pointer-events: none;

}

/***********************/

/******* CONTENT *******/

#content {

	position: relative;
	display: inline-block;
	float: right;
	width: 70%;
	margin-left: 0%;
	align-items: center;
	/*padding: 10px;*/
}


/*----- CONTACT -----*/
.main-content-wrapper {

	/*position: relative;*/
	width: 44.5%;
	float: left;
	/*display: inline-block;*/
}

.social-container {
	position: relative;
	width: 100%;
	float: left;
	height: 305px;
}
.social-container p{

	font-family: 'Pangolin', cursive;
	margin-left: 10%;
	line-height: 50px;
	vertical-align: middle;
	font-size: 16px; 
}
.icon-wrapper {

	width: 80%; 
	height: 60px;
	margin-left: 20px;

}
.left-icon {

	margin-left:40px;

}
.icon {

	display: inline-block;
	height:50px; 
	width:17.5%; 
	float:left;

}
.label {

	height: 50px;
	width: 80%; 
	display: inline-block; 
	float:left;

}
.portrait-container {

	display: inline-block;
	float: right;
	width: 55%;
	height: 500px;
	background-image: url('../background/me.png');
	background-size: cover;
	background-position: 0% 50%;

}
/* ------RESUME------ */
.resume-wrapper {

	padding: 10px; 
	margin-left: 10%;

}
.resume-container p {

	display : inline;

}
.resume-header p{

	text-align: center;

}
.resume-identity {

	font-size: 18px;
	color: #7FE22E;

}
.resume-blue {

	font-family: 'Pangolin', cursive;
	margin-left: 40px;
	color: #5CD9EF;

}
.resume-purple {
	color: #27399A;
}
.resume-brown {
	color: #AC6A22;
}
.resume-red {
	color: #F9264C;
}
