html {
	background: #ffffff;
	background-color: rgba(0, 0, 0, 0);
	min-height: 358;
	height: 100%;
}
body {
	height: 100%;
	overflow-y: scroll;
}
a {
	color: black;
}
p {
	/*font-family: 'Pangolin', cursive;*/
}
div{
	/*border: 0.5px solid black;*/
}
h1 {
	/*font-family: 'Francois One', sans-serif;*/
	font-size: 30px;
	font-weight: bold;
}
h2 {
	padding-left: 0px;
	font-size: 20px;
	font-weight: bold;
}
/* GLOBAL CLASSES */
.line {
	opacity: 0;
}
.circle {
	opacity: 0;
}
.menu-link {
	/*position: relative;*/
}
.menu-element {

	width: 100px !important;
	height: 35px !important;

}
.selected {

	background: rgb(0, 0, 0) !important;
	color: #ffffff !important;
	pointer-events: none;

}
.btn-1{
	/*font-family: 'Francois One', sans-serif !important;*/
	display: none;
}
.alignVertical {
    position:relative;
    display:inline-block;
    top:50%;
    transform:translateY(-50%);
}
.dot {
  
}
/* GLOBAL ID */
.fa-th-large {
	opacity: 0;
	position: absolute;
	margin-left: 1%;
	margin-top: 1%;
}
#mobile-menu: hover {
	opacity: 0;
}
#dot-playground {
	position: absolute;
	overflow: hidden;
	width: 95%;
	height: 100%;
	/*border: 1px solid black;*/
}
#main-background-container {

	width: 95%;
	height: 2000px;
	margin: 0 auto;

	background-image: url('../background/shutter.png');
	box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	background-size: cover;

}
#container {

	-webkit-transition: width 500ms cubic-bezier(0.42, 0, 0.49, 1.57); 
    transition: width 500ms cubic-bezier(0.42, 0, 0.49, 1.57);

	width: 90%;
	height: 100%;
	display:flex;
	margin: 0 auto;
	
}

/***** NAVIGATION *****/
#menu-wrapper {

	transition: width 1s ease-in-out;
	position: relative;
	width: 260px;
	height: 360px;
	min-width: 260px;
	min-height: 360px;
	float: left;

}
#left-ctx {

	width: 70px;
	height: 360px;
	
	/*border: 1px solid green;*/
	float: left;
}
#button-container {
	float: left;
	margin-left: 8px;
	width: 100px;
	height: 360px;
	display: inline-block;
}
#right-ctx {

	width: 70px;
	height: 360px;
	/*border: 1px solid red;*/
	float: right;

}
/***********************/

/******* CONTENT *******/

#content {

	-webkit-transition: width 1s cubic-bezier(0.42, 0, 0.49, 1.57); 
    transition: width 1s cubic-bezier(0.42, 0, 0.49, 1.57);
    animation-duration: 1s;
	float: right;
	width: 100%;
	height: 100%;

}


/*----- CONTACT -----*/

#portrait-container {

	float: right;
	width: 50%;
	height: 70%;
	background-image: url('../background/contact/me.png');
	background-size: cover;
	background-position: 0% 70%;

}
#main-content-wrapper {

	display: inline-block;
	width: 49%;
	height: 70%;
	/*border-bottom: 2px solid black;*/

}
#contact-head {
	display: inline-block;
	height: 20%;
	width: 80%;
	margin-top: 4%;
	margin-left: 15%;
}

#contact-info {
	max-width: 250px;
	width: 100%;
	margin-top: 4%;

}
#social-container {

	width: 100%;
	float: left;
	height: 76%;
	overflow: hidden;
}
.icon-wrapper {
	height: 50px;
	width: 230px;
	margin-top: 4%;
	margin-left: 15%;
}
.right-icon {
	margin-left: 25%;	
}
.icon {

	height:50px; 
	width:60px; 
	display: inline-block;
	float: left;

}
.label {

	height: 50px;
	width: 165px; 
	float: left;
	margin: 0 auto;

}
.label p{
	margin-top: 10%
}

/* ------RESUME------ */
#resume-wrapper {

	float: right;
	width: 90%;
	margin: 0 auto;
	overflow-y: scroll;

}
.resume-container p {

	display : inline;

}
.resume-header p{

	text-align: center;

}
.resume-identity {

	font-size: 18px;
	color: #7FE22E;

}
.resume-blue {

	/*font-family: 'Pangolin', cursive;*/
	margin-left: 40px;
	color: #5CD9EF;

}
.resume-purple {
	color: #27399A;
}
.resume-brown {
	color: #AC6A22;
}
.resume-red {
	color: #F9264C;
}
