
/* ----- KEYFRAMES ANIMATION -----*/
@keyframes blink{
	0% { color: transparent; }
	100% { color: #00BB00; }
}
@-webkit-keyframes blink{
	0% { color: transparent; }
	100% { color: #00BB00; }
}
@-moz-keyframes blink{
	0% { color: transparent; }
	100% { color: #00BB00; }
}

@keyframes icon-pulse{
	0% { transform: scale3d(0.8, 0.8, 1); }
	50% { transform: scale3d(1.2, 1.2, 1); }
	100% { transform: scale3d(1, 1, 1); }
}
@-webkit-keyframes icon-pulse{
	0% { transform: scale3d(0.8, 0.8, 1); }
	50% { transform: scale3d(1.2, 1.2, 1); }
	100% { transform: scale3d(1, 1, 1); }
}
@-moz-keyframes icon-pulse{
	0% { transform: scale3d(0.8, 0.8, 1); }
	50% { transform: scale3d(1.2, 1.2, 1); }
	100% { transform: scale3d(1, 1, 1); }
}

@-webkit-keyframes dash {
	0% {
		stroke-dashoffset: 400;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
@-webkit-keyframes headtilt {
	0% { transform: rotate(10deg) }
	50% { transform: rotate(-10deg) }
	100% { transform: rotate(10deg) }
}
@-webkit-keyframes tailtilt {
	0% { transform: rotate(10deg) }
	50% { transform: rotate(-10deg) }
	100% { transform: rotate(10deg) }
}


/* ----- GLOBAL -----*/
html {
    overflow-x: hidden;
}

div {
	border: 1px solid black;
}
p {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 15px !important;
	line-height: 170%;

}
section {
	
	display: table-cell;

}
path {
	-webkit-transition: fill 500ms;
    transition: fill 500ms;
}
.anti-blur {
	-webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
.vertical-align {
    position:relative;
    display:inline-block;
    top:50%;
    transform:translateY(-50%);
}
.typed-cursor{
	color: #00BB00;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}
.left {
	float: left;
}
.right {
	float: right;
}
/* ----- LOGO PARTS -----*/

#logo-container {
	position: absolute;
	bottom: -1px;
	left: 5%;
	min-width: 100px;
	min-height: 100px; 
	width: 10%;
	height: 18%;
	overflow: visible !important;
}
#logo-svg-box {
	overflow: inherit;
	height: 100%;
	
}
#c1-c7 {
	fill: #000000;
	stroke: #000000;
}
#c1 {
	fill: #191919;
	stroke: #191919;
}
.morphable {

}
.head-animate {
    
    -webkit-transform-origin: 40px 30px;
    animation-name: headtilt;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.tail-animate {

	-webkit-transform-origin: 55px 100%;
    animation-name: tailtilt;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: forward;
}
/* ----- SECTION HEADER -----*/
#header {
	transition: color 800ms;
	position: fixed;
	background: #ffffff;
	top: 0%;
	z-index: 999;
	display: block;
	width: 100%;
	height: 50px;
}
.main-icon {
	-webkit-transition: transform 500ms;
    transition: transform 500ms;
}
.main-icon:hover {

    -webkit-animation-name: icon-pulse; 
    -webkit-animation-duration: 500ms; 

}
#icon-container {
	
	width: 90%;
	margin: 0 auto;
	height: 50px;
	-webkit-transition: border 800ms;
    transition: border 800ms;
	border-bottom: 2px solid black;

}
#icon-container a{

	-webkit-transition: color 800ms;
	transition: color 800ms;
    color: #000000;

}
.icon {

	margin-left: 7px;
	float: right;
}
/* ----- SECTION FOOTER -----*/
#footer {

	/*transition: color 800ms;*/
	bottom: 0%;
	background: #ffffff;
	z-index: 999;
	display: block;
	width: 100%;
	height: 50px;

}
#footer-content {
	width: 90%;
	margin: 0 auto;
	height: 50px;
	border-top: 2px solid black;
}
/* ----- SECTION INTRO -----*/
#intro-container {

	margin-top: 50px;
	width: 100%;
	overflow-x: hidden;
	z-index: 100;

}
.intro-name-font {

	font-family: 'Merriweather Sans', sans-serif;
	opacity: 0.9;
	font-color: #222222;
 
}
#intro-name {

	position: relative;
	top: 35%;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
#intro-name h1 {
	font-size: 1.5em;
	display: inline-block;
}
#intro-name h2 {

	font-size: 4em;
	display: inline-block;

}
#command-container {

	position: relative;
	/*text-align: center;*/
	margin: 0 auto;
	top: 37%;
	height: 15px;
	width: 45%;

}
#command-container h1 {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 20px;
	display: inline-block;

}
/* ------- SECTION GLOBAL ---------*/
.black {
	background-color: #191919;
}
.black h1, p{
	color: #ffffff;
}
.white {
	background-color: #ffffff;
}
.white p, h1 {
	color: #191919;
}
.section-wrapper {
	
	display:inline-block;
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;

}
.section-wrapper h1{
	transition: opacity 1s;
	font-family: 'Ubuntu Mono', monospace;
	font-size: 2em;
	opacity: 0;
}
.section-inner{

	margin: 0 auto;
	width: 90%;

}
.left-container {
	
	margin-left: 5%;
	width: 43%;
	float: left;
	display: inline-block;

}
.right-container {
	
	float: right;
	margin-right: 5%;
	width: 43%;
	display: inline-block;

}
/* ----- SECTION ABOUTME -----*/
#section-aboutme {
	z-index: 100;
}
#aboutme-introduction {

	margin-top: 20px;
	text-align: justify;
}
#skill-container a {
	color: white;
}
#skill-bracket-toggle {
	display: block;
}
.rotate {
	display: inline-block;
	-webkit-transition: all 200ms;
    transition: all 200ms;
}
.rotate-selected{
  	-webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.bracket-wrapper {
	display: inline-block;
}
.bracket-wrapper p{
	display: inline; 
}
.bracket-arrow {
	margin-top: 0%;
}
.bracket-content {

	margin-left: 20px;

}
.bracket-selected {
	max-height: 0px;
}
.bracket-closing {
	-webkit-transition: max-height 200ms;
    transition: max-height 200ms;
    max-height: auto;
	overflow: hidden;
	margin-left: 15px;
	display: block;
}
/* ----- SECTION PROJECT -----*/
#section-project {
	
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
	display: inline-block;
	height: 1000px;

}
