html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    overflow: hidden;
}


html {
	background: #fafafa;
	height: 100%;
}

body {

	height: 100%;
	width: 100%;
}

a {
	color: black;
}
#playground-container {

	border: 1px solid black;
	 display: flex;
  	align-items: center;
  	justify-content: center;
	height: 100%;
	width: 100%;
}
#dot-playground {

	background: #ffffff;
	border: 1px solid white;
	border-style: dashed;
	display: block;
	height: 99%;
	width: 99%;
}
.dot {

}
.line {
	
}